html,
body {
  min-height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

header {
  display: inline-block;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  border: 1px solid green;
  text-align: center;
}

h1 {
  font-size: 20px;
  color: black;
}

body {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23000000' fill-opacity='0.08' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  max-width: 70%;
  margin: 0 auto;
}

section.main,
header {
  background-color: #ffffff;
  background-image: none;
  flex: 1;
}

section.main {
  float: left;
  width: 70%;
  padding-bottom: 3%;
  margin-top: 3%;
}

section.main > h2 {
  margin-left: 19px;
  padding-top: 5px;
}

div.border-line {
  border-bottom: 1px solid green;
  margin-left: 19px;
  margin-right: 19px;
}

aside {
  display: block;
  float: right;
  text-align: center;
  background-color: #ffffff;
  margin-top: 3%;
}

aside > h2 {
  text-align: center;
  color: black;
  font-family: cursive;
}

aside > a {
  padding: 5px;
  filter: drop-shadow(3px 5px rgba(2, 3, 2, 0.3));
}

#topleft-name {
  margin: 0 15%;
  background-color: green;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
}

#topleft-name, nav {
  display: inline-block;
  padding-top: 2%;
  padding-bottom: 2%;
  font-family: fantasy;
}

nav {
  text-align: right;
  margin: 0 19%
}

nav > a {
  font-size: 20px;
}

#me {
  float: left;
  padding: 5px;
  margin: 2% 2% 0.5% 3%;
  filter: drop-shadow(3px 5px rgba(2, 3, 2, 0.3));
}

.main > p {
  margin-left: 5%;
  margin-right: 5%;
}

section.sidebar img,
#github,
#linkedin,
#stack-overflow {
  display: inline-block;
  width: 40px;
  background-color: #ffffff;
  padding: 2%;
  margin-left: 8%;
  align-content: center;
}

footer {
  margin-top: 5px;
  background-color: rgba(0, 37, 0, 0.7);
  text-align: center;
  border-top-style: groove;
  border-top: 4px groove black;
  padding-top: 20px;
  padding-bottom: 20px;
}
